.todoForm input {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: .8em 1em;
  font-size: 1rem;
}

.todoForm input:focus {
  border: 1px solid #9381FF;
}